body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.imran{
    color: orange;
}

section {
    display: flex;
}
.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 80%;
}
.button {
    text-decoration: none;
    background-image: -webkit-gradient(orange, tomato);
    background-color: rgb(0, 255, 26);
    padding:10px 20px;
    margin-top:5px;
    border-radius: 10px;
    
    font-weight: 700;
    
}