body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.imran{
    color: orange;
}

.felxiable-container {
    display: flex;
    margin-bottom: 100px;
}
.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
   
}
.half-width img{
    width: 80%;
}
.button {
    text-decoration: none;
    background-image: -webkit-gradient(orange, tomato);
    background-color: rgb(0, 255, 26);
    padding:10px 20px;
    margin-top:5px;
    border-radius: 10px;
    font-weight: 700;  
}
.top-banner-area {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.big-dream-area {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.developer-item {
    width:40%;
    box-shadow: 10px 10px 20px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius:10px;
    padding:5px;
   
    
}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack-developer {
    border-left: 10px solid red;
 
}
#baby-developer {
    border-left: 10px solid blue;
    }
 .footer-area{
        text-align: center;
    }